.sentence-box {
  opacity: 0;
  transform: translateX(50px); /* inizialmente spostato a destra */
  transition: all 0.8s ease-out;
}

.sentence-box.left {
  transform: translateX(-50px); /* inizialmente spostato a sinistra */
}

.sentence-box.visible {
  opacity: 1;
  transform: translateX(0); /* torna in posizione */
}
