/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fogMove {
  0% { background-position: 0 100%; }
  100% { background-position: 0 0%; }
}

.foggy-background {
  background: linear-gradient(to top, #cceeff 0%, #ffffff 100%);
  background-size: 100% 200%;
  animation: fogMove 30s linear infinite;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: -1;
} */

html {
  scroll-behavior: smooth;
}

.background-image {
  position: absolute;
  top: 20vh;          /* Distanza dall’alto */
  left: 25%;
  transform: translateX(-50%); /* Centra orizzontalmente */
  z-index: 0;
  opacity: 0.8;
  pointer-events: none;

  height: 150vh;       /* Altezza responsive */
  width:auto;
  /* max-width: 90vw;    Limita larghezza massima su schermi piccoli */
}


.content-layer {
  position: relative;
  z-index: 1;
}

.App {
  background-color: #121212;
  color: white
}